.col-lg-3{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}
button {
     background:none!important;
     color:inherit;
     border:none;
     margin-top: 20px !important;
     padding:15 !important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444; 
     cursor: pointer;
}
hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
ul{
    padding: 0;
}
button.selected{
  border: 1px solid #444;
}
.green{
    color: green;
}
.delay{
    color: red;
}